# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
      'Execute code with Breakline': 'breakline:run'
      'Watch code with Breakline toggle': 'breakline:watchToggle'
      'Insert Breakline': 'breakline:insert'
      'Insert Breakline to word and run': 'breakline:insertRun'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Breakline'
      'submenu': [
        { 'label': 'Execute code with Breakline', 'command': 'breakline:run' }
        { 'label': 'Insert Breakline', 'command': 'breakline:insert' }
        { 'label': 'Insert Breakline to word and run', 'command': 'breakline:insertRun'}
        { 'label': 'Watch code with Breakline toggle', 'command': 'breakline:watchToggle'}
      ]
    ]
  }
]
